<label class="error-message">{{ submitMessage }}</label>
<div class="keep-c-note-container">
        <h2>Add Reminder</h2>
    <form class="reminder-form" (ngSubmit)="addReminder()">
    <mat-form-field>
      <input class="reminderName" matInput placeholder="Reminder Name" [formControl]='reminderName'>
  </mat-form-field>
  <mat-form-field>
    <input class="reminderDescription" matInput placeholder="Reminder Description" [formControl]='reminderDescription'>
</mat-form-field>  
<mat-form-field>
  <input class="reminderType" matInput placeholder="Reminder Type" [formControl]='reminderType'>
</mat-form-field>         
    <button type="submit" mat-raised-button color="primary">Add</button>
    </form>        



    <h2>Edit Reminder</h2>
        <!-- Include the notes collection with each note rendered as a separate NoteComponent -->
            <!--Display the notes fetched from db.json -->
           
            <app-single-reminder [reminder] = "reminder" *ngFor="let reminder of reminderList"></app-single-reminder>
        </div>
            <div class=keep-c-note-container>
            <button type="submit" mat-raised-button color="primary" (click)="back()">Done</button>

        </div>
    