.login-form-container{
    width:60vw;
    margin:5vh auto;
}
.login-form{
    display: flex;
    flex-direction: column;
}
.error-message{
    color:red;
    font-size:1em;
}
.btn-layout {
    padding: 50px;
}

.flex-grid {
    display: flex;
  }
  .col {
    flex: 1;
  }

  @media (max-width: 400px) {
    .flex-grid {
      display: block;
    }
  }

  .flex-grid-thirds {
    display: flex;
    justify-content: space-between;
  }
  .flex-grid-thirds .col {
    width: 32%;
  }