<label class="error-message">{{ submitMessage }}</label>

<div class="login-form-container">
        <h2>Login Form</h2>
<form class="login-form" (ngSubmit)="loginSubmit()">
    <mat-form-field>
        <input class="username" matInput placeholder="Enter User ID" [formControl]='username'>
    </mat-form-field>
    <mat-form-field>
        <input class="password" matInput type='password' placeholder="Enter Password" [formControl]='password'>
    </mat-form-field>
    <button type="submit" mat-button>Submit</button>
    <button (click)="register()" mat-button>Register</button>
    
    </form>

</div>
