<!-- Label to display any error messages -->
<label class="error-message">{{ errMessage }}</label>



<!-- <div class="keep-c-done-wrapper"> -->
  
    
      
  <div class="flex-grid">
      <div class="col">
<mat-form-field> 
  <input [(ngModel)]="reminder.reminderName" name="editreminderName" matInput placeholder="Reminder Name" type="text">
</mat-form-field>
</div>
<div class="col">
<mat-form-field>
  <input [(ngModel)]="reminder.reminderDescription" name="editreminderDescription" matInput placeholder="Reminder Description" type="text">
</mat-form-field>
</div>
<div class="col">
<mat-form-field>
  <input [(ngModel)]="reminder.reminderType" name="editreminderType" matInput placeholder="Reminder Type" type="text">
</mat-form-field>
</div>

<div class="col">
  <button mat-raised-button color="primary" class="but-layout" (click)="update()">Update</button>
</div>
  <div class="col">
  <button mat-raised-button color="primary" class="but-layout" (click)="delete()">Delete</button>
  
</div>

</div>

