.keep-c-done-wrapper{
    display: flex;
    flex-direction: row;
    -ms-flex-item-align: space-around;
    -ms-flex-flow: column;
};

.but-layout {
    height: 8vh;
    width: 8vh;
}

.flex-grid {
    display: flex;
   
  }
  .col {
    flex: 1;
  }

  @media (max-width: 400px) {
    .flex-grid {
      display: block;
    }
  }

  .flex-grid-thirds {
    display: flex;
    justify-content: space-between;
  }
  .flex-grid-thirds .col {
    width: 25%;
  }