<!-- Label to display any error messages -->
<label class="error-message">{{ errMessage }}</label>



<!--<div class="keep-c-done-wrapper"> -->
    <div class="flex-grid">
        <div class="col">
          <mat-form-field> 
          <input [(ngModel)]="category.categoryName" name="editcategoryName" matInput placeholder="Category Name" type="text">
          </mat-form-field>
      </div>
  <div class="col">
      <mat-form-field>
        <input [(ngModel)]="category.categoryDescription" name="editcategoryDescription" matInput placeholder="Category Description" type="text">
      </mat-form-field>
  </div>
  <div class="col">
  <button mat-raised-button color="primary" class="but-layout" (click)="update()">Update</button>
</div>
<div class="col">
  <button mat-raised-button color="primary" class="but-layout" (click)="delete()">Delete</button>
  </div>
</div>





