<label class="error-message">{{ submitMessage }}</label>

<div class="registration-form-container">
    <div class="jumbotron text-center">
        <h2>Registration Form</h2>
    </div>
    <form class="registration-form" (ngSubmit)="register()">
    <mat-form-field>
        <input class="username" matInput placeholder="Enter UserId" [formControl]='username'>
    </mat-form-field>
    <mat-form-field>
      <input class="firstName" matInput placeholder="Enter First Name" [formControl]='firstName'>
  </mat-form-field>
  <mat-form-field>
    <input class="lastName" matInput placeholder="Enter Last Name" [formControl]='lastName'>
</mat-form-field>      
    <mat-form-field>
        <input class="password" matInput placeholder="Enter Password" type='password' [formControl]='password'>
    </mat-form-field>
    <mat-form-field>
      <input class="userRole" matInput placeholder="Enter User Role" [formControl]='userRole'>
  </mat-form-field>
    
    <button mat-raised-button color="primary" type="submit" mat-button>Register</button>
    </form>
</div>